@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Edit Event</h1>

<form method="post" action="/events/edit">
    <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" value="@ViewBag.eventToEdit.Name"/>
    </div>
    <div class="form-group">
    <label for="description">Description</label>
    <input name="description" value="@ViewBag.eventToEdit.Description"/>
    </div>
    <input type="hidden" value="@ViewBag.eventToEdit.Id" name="eventId" />
    <input type="submit" value="Edit Event" />
</form>